:root {
	--sidebar-width: 250px;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div {
	display: inline-block;
	margin: 5px;
}

p {
	width: 100%;
	text-align: center;
	font-family: "Trebuchet MS";
}

button {
  display: block;
  background-color: white;
	border: 1px solid #181818;
  width: 100%;
  padding: 5px 5px;
  margin: 10px auto;
}

button span {
	overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

button:hover {
  cursor: pointer;
  background-color: #aaa;
  /* TODO: Prettier color! */
}

canvas {
	display: block;
	margin: auto;
}

#logo-container {
	/* Full width - sidebar width - 5px margin on each side */
	width: calc(100% - var(--sidebar-width) - 10px);
	float: right;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.hidden {
  display: none;
}

.form-group {
	width: 100%;
}

#controls {
  margin: 0;
  width: var(--sidebar-width);
	height: 100vw;
	position: fixed;
	background-color: gray;
	/* TODO: Prettier color! */
	/* TODO: Fade the right side out into the background color */
}

#controls input[type=text],
#controls input[type=number] {
	width: calc(95% - 15px);
	padding: 7.5px;
	border: 1px solid #181818;
}

.inputDiv {
	width: 95%;
}

label {
	display: block;
	margin: 5px;
}
